.border {

    border: 1px solid black;
    height: 90px;
    width: 100%;
    max-width: 353px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 30px;
    background-color: rgba(138, 186, 195, 0.177);
    border-color: rgba(138, 187, 195, 0);
}